@import url('https://fonts.googleapis.com/css2?family=Mukta&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Mukta', 'Open Sans';
  font-size: 12px;
}

/* skip to content */
.skip-link {
  position: absolute;
  top: -45px;
  left: 0;
  padding: 10px;
  background-color: #206a5d;
  color: white;
  z-index: 100;
  height: 44px;
}

.skip-link:focus {
  top: 0;
}

/* HEADER */

.header {
  min-height: 56px;
  transition: min-height 0.3s;
}

.header__inner {
  width: 100%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.header__title {
  font-weight: 500;
  font-size: 4em;
  margin: 1.3em 1.3em;
  display: inline-block;
  color: #206a5d;
}

.header__menu {
  font-size: 32px;
  margin: 10px auto;
  display: block;
  width: 60px;
  color: #206a5d;
}

/* navbar */
.nav {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  box-shadow: 10px 4px 8px 0 rgba(0, 0, 0, 0.5);
}

.nav__list {
  width: 100%;
  padding: 0;
  margin: 0;
}

.nav__item {
  box-sizing: border-box;
  display: inline-block;
  width: 24%;
  text-align: center;
  line-height: 24px;
  text-transform: uppercase;
}

.nav a {
  display: inline-block;
  padding: 1.3em;
  text-decoration: none;
  color: #206a5d;
  font-size: 16px;
}

.nav a:hover {
  text-decoration: underline;
  color: #000;
}

/* jumbotron */

.hero {
  display: flex;
  align-items: center;
  min-height: 380px;
  width: 100%;
  text-align: center;
  background-image: url('../public/images/heros/hero-image_2.jpg');
  background-color: #b4b4b4;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: multiply;
}

.hero__inner {
  margin: 0 auto;
  max-width: 800px;
  padding: 40px;
}

.hero__title {
  color: #fff;
  font-weight: 500;
  font-size: 36px;
}

.hero__tagline {
  color: #fff;
  margin-top: 16px;
  font-size: 18px;
  font-weight: 500;
}

/* main */
main {
  width: 100%;
  margin: 0 auto;
}

/* content */
.content {
  padding: 32px;
}

/* katalog */
.katalog {
  width: 100%;
  margin: 60px auto;
  text-align: center;
}

.judul_katalog {
  font-size: 32px;
  font-weight: 500;
  color: #206a5d;
  text-align: center;
}

.judul_page {
  font-size: 32px;
  font-weight: 500;
  color: #206a5d;
  text-align: center;
  margin: 50px;
}



/* restaurants list */

.restaurantList {
  margin: 32px auto auto;
  text-align: left;
}

/* resto item */
.resto-item {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 100%;
  border-radius: 5px;
  overflow: hidden;
  margin: 20px auto;
  /* padding: 1em; */
}

.resto-item__content {
  padding: 16px;
}

.resto-item__pict {
  width: 100%;
  min-height: 300px;
}

.resto-item__name {
  font-weight: 500;
  font-size: 20px;
  margin-top: 16px;
  transition: 0.3s opacity;
  height: 44px;
}

.resto-item__name a {
  text-decoration: none;
  color: #000;
  display: block;
  height: 44px;
}

.resto-item__name a:hover {
  color: #206a5d;
  font-weight: 800;
}

.resto-item__rating,
.resto-item__location {
  font-size: 14px;
  height: 44px;
}

/* 
  resto detail
*/

.restaurantDetail {
  margin: 50px;
  max-width: 800px;
  font-size: 18px;
}

.restaurantDetail h3,
p {
  margin-bottom: 0.5em;
}

.resto__pict {
  width: 100%;
  max-width: 400px;
  border-radius: 5px;
}

.resto__title {
  margin-bottom: 0.5em;
}

.resto__pict,
.resto__info,
.resto__menu {
  margin-bottom: 1.5em;
}

.review__item {
  margin-top: 0.5em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 1em;
}

.customer {
  font-weight: bold;
  margin-bottom: 0.5em;
}

/*
  Like
*/
.like {
  width: 55px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f58634;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

  position: fixed;
  bottom: 16px;
  right: 16px;
  border-radius: 50%;
  border: 0;

  font-size: 18px;
  color: white;
  cursor: pointer;
}

/* footer */

footer {
  background-color: #206a5d;
  padding: 2em;
  width: 100%;
  text-align: center;
  margin-top: 100px;
}

footer p {
  color: #fff;
  padding: 1em;
  font-size: 14px;
  text-align: center;
}
